@import "tailwindcss";

@layer base {
    body {
        @apply bg-stone-100;
        min-height: 100vh;
        font-family: 'century_gothic_paneuropeanRg';
    }
}

@font-face {
    font-family: 'century_gothic_paneuropeanRg';
    src: url('/font/centurygothicpaneuropeanregular-webfont.woff2') format('woff2'),
        url('/font/centurygothicpaneuropeanregular-webfont.woff') format('woff'),
        url('/font/centurygothicpaneuropeanregular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'century_gothic_paneuropeanLt';
    src: url('/font/centurygothicpaneuropeanlight-webfont.woff2') format('woff2'),
        url('/font/centurygothicpaneuropeanlight-webfont.woff') format('woff'),
        url('/font/centurygothicpaneuropeanlight-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'century_gothic_paneuropeanXBd';
    src: url('/font/centurygothicpaneuropeanextrabold-webfont.woff2') format('woff2'),
        url('/font/centurygothicpaneuropeanextrabold-webfont.woff') format('woff'),
        url('/font/centurygothicpaneuropeanextrabold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'century_gothic_paneuropean_Rg';
    src: url('/font/centurygothicpaneuropeansemibold-webfont.woff2') format('woff2'),
        url('/font/centurygothicpaneuropeansemibold-webfont.woff') format('woff'),
        url('/font/centurygothicpaneuropeansemibold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

.extrablod {
    font-family: 'century_gothic_paneuropeanXBd'
}

.text-pixel {
    -webkit-text-stroke: 1px;
    letter-spacing: 1px;
}

@media screen and (max-width: 366px) {
    .odr-text {
        font-size: 10px;
    }

}

@media screen and (max-width: 348px) {
    .odr-text {
        font-size: 9px;
    }

}

/* thank you page css */
.gothic{font-family: 'Century Gothic';}
.fnt_rg{font-family: 'century_gothic_paneuropean_Rg';}